In [ ]:
import pandas as pd # Importing Mocules
import numpy as np
df = pd.read_csv("AQI_Data.csv") # Reading CSV

In [95]:
#Display First five rows
print("First Five rows")
df.head(5)

First Five rows

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550

In [96]:
#Display Last six rows
print("Last 6 rows")
df.tail(6)

Last 6 rows

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
2556,Pune,2024-12-26,80,95,82,88.809636,0.497454,129.043801,8.657624
2557,Pune,2024-12-27,419,448,462,26.701714,1.553582,86.973954,44.263423
2558,Pune,2024-12-28,252,202,182,19.920962,1.599821,41.939484,20.545087
2559,Pune,2024-12-29,365,414,410,80.815702,1.919950,39.982167,22.646297
2560,Pune,2024-12-30,253,269,285,66.231614,0.611800,63.966705,10.580135
2561,Pune,2024-12-31,95,140,117,99.505459,0.122817,112.774765,30.814997

In [97]:
#Statsistical Sumamry
print("Summary Stats")
df.describe()

Summary Stats

,AQI,PM2.5,PM10,NO2,CO,O3,SO2
count,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000,2562.000000
mean,277.635051,276.738486,275.988290,54.151115,1.037476,104.832673,27.746349
std,128.603738,131.015126,131.900856,25.744072,0.560294,54.878784,12.927527
min,50.000000,2.000000,-26.000000,10.036926,0.100100,10.045129,5.000524
25%,166.250000,165.000000,166.000000,32.025372,0.545341,58.169877,16.685076
50%,276.000000,274.500000,274.000000,53.606459,1.010095,104.345545,27.872017
75%,388.750000,388.000000,386.000000,76.322683,1.533300,152.515574,38.878445
max,499.000000,543.000000,559.000000,99.974242,1.999528,199.979607,49.976055

In [98]:

city = df["City"]
city_grouped  =  np.unique(df["City"])
AQI = df["AQI"]
#Finding mean AQI by grouping AQI by city and finding its mean
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print("Mean AQI:")
print(grouped_data)

Mean AQI:
{'Bangalore': 279.54371584699453, 'Chennai': 274.3142076502732, 'Delhi': 279.1530054644809, 'Hyderabad': 280.3551912568306, 'Kolkata': 265.9016393442623, 'Mumbai': 287.7978142076503, 'Pune': 276.379781420765}

In [99]:
print("Mean PM2.5")
AQI = df["PM2.5"]
#Finding mean PM2.5 by grouping PM2.5 by city and finding its mean
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print(grouped_data)

Mean PM2.5
{'Bangalore': 278.46994535519127, 'Chennai': 275.1393442622951, 'Delhi': 279.89890710382514, 'Hyderabad': 277.8251366120219, 'Kolkata': 264.6639344262295, 'Mumbai': 286.0464480874317, 'Pune': 275.1256830601093}

In [100]:
print("Mean PM10")
AQI = df["PM10"]
#Finding mean PM10 by grouping PM10 by city and finding its mean
grouped_data = {category: AQI[city == category].mean() for category in city_grouped}
print(grouped_data)

Mean PM10
{'Bangalore': 277.75956284153006, 'Chennai': 273.26502732240436, 'Delhi': 279.3497267759563, 'Hyderabad': 276.45628415300547, 'Kolkata': 263.6448087431694, 'Mumbai': 286.6693989071038, 'Pune': 274.77322404371586}

In [101]:
AQI = df["AQI"]
#Finding Average AQI by grouping AQI by city and finding its mean
grouped_data = {category: AQI[city == category].sum()/len(AQI[city == category]) for category in city_grouped}
#Getting key of max valued value in grouped data
maxi = max(grouped_data, key=grouped_data.get)
print(f"City with Max AQI : {maxi}")

City with Max AQI : Mumbai

In [102]:
#Getting key of mim valued value in grouped data
mini = min(grouped_data, key=grouped_data.get)
print(f"City with Max AQI : {mini}")

City with Max AQI : Kolkata